@use 'variables' as v;

html{
    font-size: 63.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: v.$fuente_secundarial;
    font-size: 1.6rem;
    background-color: v.$cafe-claro;

    scroll-behavior: smooth;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
