@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos{
    margin: 5rem 0;
    
    .listado-iconos{

        @include m.tablet {
            @include m.grid(3, 3rem);
        }

        li{
            img{
                margin: 0 auto;
                width: 12rem;
            }

            p{
                font-family: v.$fuente_cursiva;
                font-size: 3.2rem;
                color: v.$primario;
                margin-top: 1rem;

                @include m.tablet {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

